 #navBar {
    background: black;
    overflow: auto;
    display: block;
    float: left;
    width: 100%;
    border: 5px;
    padding:0;
    margin:0;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 1em;
    border-style: solid blue;
    }
    #navBar ul {
    display: block;
    float: left;
    padding: 10px 0 0 0;
    }
    #navBar ul li {
    list-style: none;
    float: left;
    margin: 0 0 0 5px;
    }
    .title{
        color: aqua;
    }
    body{
        background-color: aqua;
    }
    #homePageDiv {
        display: block;
        padding: 10px;
        border: 5px;
        margin: 10px;
        float: left;
        border-color: blue;
    }
    .deleteButton{
        display: block;
        float: right 20px;
        width: 10px;
        height: 10px
    }
    .addToFavorites{
        width: 10px;
        height: 10px
    }
    .addToDeck {
        width: 10;
        height: 10px
    }
    .active {
        font-weight: 600;
    }

    .tab-content {
        display: none;
    }

    .show {
        display: block;
    }
    .add {
        display: block;
        float: right 20px;
        width: 10px;
        height: 10px;
    }